* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #000;
	color: #fff;
	background-color: #264653;
}
.bg {
	position: fixed;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	width: 80%;
}
.heading {
	display: none;
	font-size: 170%;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 60vh;
}
p {
	padding: 8px;
}

header {
	display: none;
	background-color: #23857A;
	position: fixed;
	width: 100%;
}

header .logo {
	float: left;
	left: 0px;
	padding: 10px;
	margin-left: 20px;
}
header .right {	
	padding: 10px;
	float: right;
	margin-right: 20px;
}
.buttons {
	display: none;
	width: 100%;
	margin: auto;
	padding-top: 2vh;
	text-align: center;
}
.button {
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	color: white;
	cursor: pointer;
	margin: 2%;
	height: 50px;
	width: 200px;
	border: 0px solid white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	/*background-color: #264653;*/
	background-color: #23857A;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: white;
	color: black;

}

