* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #000;
	color: #fff;
	background-color: #264653;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	width: 90%;
}
.heading {
	font-size: 25px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 70px;
}
p {
	padding: 8px;
}

header {
	background-color: #2a9d8f;
	position: fixed;
	width: 100%;
}

header .logo {
	float: left;
	left: 0px;
	//background-color: red;
	padding: 10px;
	margin-left: 20px;
}
header .right {	
	padding: 10px;
	float: right;
	//background-color: red;
	margin-right: 20px;
}
.buttons {

	width: 100%;
	margin: auto;
	//background-color: red;
	text-align: center;
}
.button {
	display: inline-block;
	color: white;
	margin: 1%;
	height: 50px;
	width: 200px;
	border: 2px solid white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	background-color: rgba(0,0,0,0);
	border-radius: 8px;
	transition: all 0.5s ease;
}

.button:hover {
	background-color: white;
	color: black;
}





